body{
    /*background-image:url(https://th.bing.com/th/id/R.90a48d4d1031d199bbf76084a4deafe0?rik=a%2bjmkDp49CIBMQ&riu=http%3a%2f%2fwww.pixelstalk.net%2fwp-content%2fuploads%2f2016%2f08%2fNature-wallpapers-Full-HD-backgroud.jpg&ehk=2CjYMG528OFuEMrzc%2bCNmTfQR9WPzT4GP5fwmHMh54I%3d&risl=&pid=ImgRaw&r=0);
    background-position:right;
    background-attachment: fixed;
    background-size:cover;
    background-repeat:no-repeat;*/
}
#new{
    border-style:dotted solid;
    border-radius:5px 5px 5px 5px;
    border-color: gold;
    border-width:thick;
}
#good{
   text-align:justify;
   text-decoration: underline;
   text-shadow:5px 5px 33px red ;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
#student td {
    border:2px solid;
    width:100px;
    padding:10px;
    height:5px;
    border-collapse: separate;
}
#student th{
    border:2px solid;
}
#student tr:nth-child(even)
{
    background-color: red;
    height: 20px;
    font-style: oblique;   
}